body {
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(320deg, #eb92eb, #ffef78), #63c9b4;  margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
    color: #eb92eb;
}

.controls {
    margin: 20px 0;
}

canvas {
    border: 1px solid #ffef78;
    background: linear-gradient(320deg, #eb92eb, #ffef78), #63c9b4;}
